:root {
  --dark: #333333;
  --medium: #666666;
  --medium-light: #eaeaea;
  --light: #ffffff;
  --cuasi: #303030;
  --dark: #000000;
  --blue: #182ba5;

}

.bg-dark {
  background-color: var(--dark);
}

.bg-cuasi {
  background-color: var(--cuasi);
}

.bg-gray-light {
  background-color: var(--medium-light);
}

.color-light {
  color: var(--light);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.justify-text {
  text-align: justify;
}

.flex {
  display: flex;
}

.self-left {
  justify-self: left;
}

.self-right {
  justify-self: right;
}

.centrado {
  justify-content: center;
  align-items: center;
}

.auto {
  margin: 0 auto;
}

.flex-column {
  flex-direction: column;
}

.margin-1 {
  margin: 1%;
}

.margin-2 {
  margin: 2%;
}

.padding-2 {
  padding: 2%;
}

.fsize-2r {
  font-size: 2rem;
}

.gap-1 {
  gap: 1%
}

.space-even{
  justify-content: space-evenly;
}

.header {
  height: 100%;
  padding: 20px 50px;
  display: grid;
  align-content: center;
}

.categoria {
  margin: 2% 5%;
  border-bottom: 1px solid var(--medium-light);
}

.buscar {
  border-bottom: 1px solid var(--medium-light);
}

.container {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.box {
  border: 1px solid var(--medium-light);
  border-radius: 10px;
}

.div-card {
  justify-content: center;
  align-items: center;
  max-width: 50vh;
  gap: 1%;
  margin: 2%;
  background-color: var(--light);
}

.img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-width: 80%;
  height: auto;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin: 1% 5%;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  margin: 1% 0;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--medium-light);
  padding: 5px;
}

input[type="submit"] {
  background-color: var(--cuasi);
  text-align: center;
  color: var(--light);
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

footer {
  margin-top: 5%;
  background-color: var(--dark);
  color: var(--light);
  padding: 20px 50px;
}
.navbar {
  padding: 20px;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar li,
.pnav {
  margin: 0 20px;
}

.nav-link,
.pnav {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.login>input,
.pass {
  width: 100%;
  margin: 1% 0;
  height: 30px;
  border-radius: 5px;
}

.bt-view {
  margin:10px;
  padding: 1%;
  background-color: var(--blue);

  border: solid var(--blue);
  width: 100%;
}

.bt-view a {
  
  color: var(--light);
  outline: none;
}

.bt-back {

  margin:10px;
  max-width: 20%;
  padding: 1%;
  color: var(--light);
  background-color: var(--dark);
  border-radius: 5px;
  border: solid var(--cuasi);
  width: 100%;

}
.isActive {
  color: (--blue);
}

.card-detail {
  margin: 4%;
  padding: 1%;
}

.info-detail {
  padding: 2%;
  margin-top: 2%;
}

/* Small screens */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large screens */
@media only screen and (min-width: 1025px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
